@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: MyFont;
    src: url('/Fonts/grtsk-font-family-1684902914-0/TRYGrtsk-SemiBoldGiga-BF64265524278d4.ttf');
}
@font-face {
    font-family: MyFontLight;
    src: url('/Fonts/grtsk-font-family-1684902914-0/TRYGrtsk-wghtwdthslnt-BF6426552452763.ttf');
  }
@font-face {
    font-family: MyFontBoldMega;
    src: url('/Fonts/grtsk-font-family-1684902914-0/TRYGrtsk-BoldMega-BF64265523e2a0f.ttf');
}
@font-face {
    font-family: MyFontBold;
    src: url('/Fonts/grtsk-font-family-1684902914-0/TRYGrtsk-Bold-BF642655237526d.ttf');
}
@font-face {
    font-family: MyFontMedium;
    src: url('/Fonts/grtsk-font-family-1684902914-0/TRYGrtsk-Medium-BF6426554c71848.ttf');
}
@font-face {
    font-family: MyFontSemiBold;
    src: url('/Fonts/grtsk-font-family-1684902914-0/TRYGrtsk-BoldGiga-BF64265523d2352.ttf');
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: MyFontLight;
}
body {
   background: #EEEEEE;
}
::-webkit-scrollbar {
  	width: 5px;
}
::-webkit-scrollbar-track {
 	background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  	border-radius: 100px;
  	background: #A8A8A8;
   font-family: MyFontLight;
}